@model List<ResultCampaignDto>

<div class="home-intro" id="home-intro">
    <div class="container">
        <div class="row align-items-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-8">
                    <p>
                        @item.Title <span class="highlighted-word text-color-primary font-weight-semibold text-5">@item.ColorfulText</span>
                        <span>@item.Description</span>
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="get-started text-start text-lg-end">
                        <a href="/Product/ProductList" class="btn btn-primary btn-lg text-3 font-weight-semibold px-4 py-3">
                            Alışverişe Başla!
                        </a>
                        @* <div class="learn-more">or <a href="index.html">learn more.</a></div> *@
                    </div>
                </div>
            }
        </div>
    </div>
</div>