<div class="card card-modern">
    <div class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
        </div>
        <h4 class="card-title">Renk</h4>
    </div>
    <div class="card-body">
        <form id="color-filter-form">
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="red" id="color-red">
                    <label class="form-check-label" for="color-red">
                        Kırmızı
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="blue" id="color-blue">
                    <label class="form-check-label" for="color-blue">
                        Mavi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="green" id="color-green">
                    <label class="form-check-label" for="color-green">
                        Yeşil
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="black" id="color-black">
                    <label class="form-check-label" for="color-black">
                        Siyah
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrele</button>
        </form>
    </div>
</div>