<div class="card card-modern">
    <div class="card-header">
        <div class="card-actions">
            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
        </div>
        <h4 class="card-title">Fiyat</h4>
    </div>
    <div class="card-body">
        <form id="price-filter-form">
            <div class="form-group">
                <label for="min-price">Min Fiyat:</label>
                <input type="number" id="min-price" name="min-price" class="form-control" placeholder="0">
            </div>
            <div class="form-group">
                <label for="max-price">Max Fiyat:</label>
                <input type="number" id="max-price" name="max-price" class="form-control" placeholder="1000">
            </div>
            <button type="submit" class="btn btn-primary">Filtrele</button>
        </form>
    </div>
</div>