<div class="tab-pane px-0 py-3" id="productInfo">
	<table class="table table-striped m-0">
		<tbody>
			<tr>
				<th class="border-top-0">
					Size:
				</th>
				<td class="border-top-0">
					Unique
				</td>
			</tr>
			<tr>
				<th>
					Colors
				</th>
				<td>
					Red, Blue
				</td>
			</tr>
			<tr>
				<th>
					Material
				</th>
				<td>
					100% Leather
				</td>
			</tr>
		</tbody>
	</table>
</div>