
<div class="card border-width-3 border-radius-0 border-color-hover-dark">
	<div class="card-body">
		<table class="shop_table cart-totals mb-3">
			<tbody>
				<tr class="payment-methods">
					<td colspan="2">
						<strong class="d-block text-color-dark mb-2">Ödeme Yöntemi</strong>

						<div class="d-flex flex-column">
							<label class="d-flex align-items-center text-color-grey mb-0" for="payment_method1">
								<input id="payment_method1" type="radio" class="me-2" name="payment_method" value="cash-on-delivery" checked />
								Cash On Delivery
							</label>
							<label class="d-flex align-items-center text-color-grey mb-0" for="payment_method2">
								<input id="payment_method2" type="radio" class="me-2" name="payment_method" value="paypal" />
								PayPal
							</label>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our privacy policy.
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase bg-color-hover-primary border-color-hover-primary border-radius-0 text-3 py-3">Place Order <i class="fas fa-arrow-right ms-2"></i></button>
	</div>
</div>