@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Admin/_AdminLayout.cshtml";
	int count = 0;
}

<div class="card-body">
	<table class="table table-bordered table-striped mb-0" id="datatable-editable">
		<thead>
			<tr>
				<th>#</th>
				<th>Kategori Adı</th>
				<th>Kategoriye Ait Ürünler</th>
				<th>Sil</th>
				<th>Güncelle</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				count++;
				<tr data-item-id="1">
					<th>@count</th>
					<td>@item.CategoryName</td>
					<td>
						<a href="#" class="on-default edit-row"><i class="fas fa-pencil-alt"></i> Kategoriye Ait Ürünler</a>
					</td>

					<td class="actions">
						<a href="DeleteCategory/@item.CategoryID" class="on-default remove-row"><i class="far fa-trash-alt"></i></a>
					</td>
					<td class="actions">

						<a href="UpdateCategory/@item.CategoryID" class="on-default edit-row"><i class="fas fa-pencil-alt"></i></a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="row mt-3">
		<div class="col-sm-6">
			<div class="mb-3">
				<a href="CreateCategory" id="addToTable" class="btn btn-primary">Yeni Kategori Ekle <i class="fas fa-plus"></i></a>
			</div>
		</div>
	</div>
</div>