@model UpdateProductDetailDto

@{
    ViewData["Title"] = "UpdateProductDetail";
    Layout = "~/Areas/Admin/Views/Admin/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <section class="card">
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="hidden" asp-for="ProductDetailId" />

                    <label>Ürün Açıklaması</label>
                    <textarea rows="5" asp-for="ProductDescription" class="form-control"> </textarea>
                    <br />

                    <label>Ürün Bilgisi</label>
                    <textarea rows="5" asp-for="ProductInfo" class="form-control"> </textarea>
                    <br />

                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </form>
            </div>
        </section>
    </div>
</div>
