
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div role="main" class="main shop pb-4">
	<br><br>
	<div class="container">
		<div class="row pb-4 mb-5">
			@await Component.InvokeAsync("_ShoppingCartProductListComponentPartial")

			@await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCoupon.cshtml");
		</div>
	</div>

</div>