@model UpdateProductDto

<div class="summary entry-summary position-relative">


	<h1 class="mb-0 font-weight-bold text-7">@Model.ProductName</h1>

	<div class="pb-0 clearfix d-flex align-items-center">
		<div title="Rated 3 out of 5" class="float-start">
			<input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
		</div>

	</div>

	<div class="divider divider-small">
		<hr class="bg-color-grey-scale-4">
	</div>

	<p class="price mb-3">
		<span class="sale text-color-dark">@Model.ProductPrice.ToString("C")</span>
	</p>

	<p class="text-3-5 mb-3">@Model.ProductDescription</p>

	<ul class="list list-unstyled text-2">
		<li class="mb-0">SKU: <strong class="text-color-dark">@Model.ProductId</strong></li>
	</ul>

	<br />
	<br />
	<br />

	<form enctype="multipart/form-data" method="post" class="cart" action="shop-cart.html">

		<hr>
		<div class="quantity quantity-lg">
			<input type="button" class="minus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="-">
			<input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
			<input type="button" class="plus text-color-hover-light bg-color-hover-primary border-color-hover-primary" value="+">
		</div>
		<button type="submit" class="btn btn-dark btn-modern text-uppercase bg-color-hover-primary border-color-hover-primary">Sepete Ekle</button>

	</form>

</div>