@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<div role="main" class="main shop pt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="masonry-loader masonry-loader-showing">
                    @await Component.InvokeAsync("_ProductListComponentPartial", new { id = ViewBag.CategoryId })

                    @* Pagination *@
                    <div class="row mt-4">
                        <div class="col">
                            <ul class="pagination float-end">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>