@model List<ResultCategoryDto>

<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body header-body-bottom-border border-top-0">
        <div class="header-container container" style="height: 30px;">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <h1 class="header-logo">
                            <a href="/Default/Index">
                                <img alt="Porto" width="100" height="48" src="~/template/site/img/logo-default-slim.png">
                                <span class="hide-text">Porto - Demo Blog 2</span>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <!-- search bar -->
                        <div class="header-nav-features header-nav-features-no-border col-lg-5 col-xl-6 px-0 ms-0">
                            <div class="header-nav-feature ps-lg-5 pe-lg-4">
                                <form role="search" action="page-search-results.html" method="get">
                                    <div class="search-with-select">
                                        <a href="#" class="mobile-search-toggle-btn me-2" data-toggle-class="open">
                                            <i class="icons icon-magnifier text-color-dark text-color-hover-primary"></i>
                                        </a>
                                        <div class="search-form-wrapper input-group">
                                            <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
                                            <div class="search-form-select-wrapper">
                                                <div class="custom-select-1">
                                                    <select name="category" class="form-control form-select">
                                                        <option value="all" selected>Tüm Kategoriler</option>
                                                        @foreach (var item in Model)
                                                        {
                                                            <option value="@item.CategoryName">
                                                                <a href="Product/ProductList/@item.CategoryId">@item.CategoryName</a>
                                                            </option>
                                                        }
                                                    </select>
                                                </div>
                                                <button class="btn" type="submit">
                                                    <i class="icons icon-magnifier header-nav-top-icon text-color-dark"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-effect-1">
                            <div class="header-nav-main header-nav-main-square header-nav-main-font-lg header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="/Default/Index">
                                                Anasayfa
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="/Admin/Category/Index" target="_blank">
                                                        Admin
                                                    </a>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item" href="#">Classic</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="index-classic.html">Classic - Original</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                Ürünler
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="/Product/ProductList">Ürünler</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/Product/ProductDetail">Ürün Detayı</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="/Contact/Index">
                                                İletişim
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                <i class="icons icon-user"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                <i class="icons icon-heart"></i>
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                <i class="icons icon-bag"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
